# Default ignored files
/shelf/
/workspace.xml
/material_theme_project_new.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/Deep-Chords-Neo-Soul.iml
